{% extends 'base.html' %}
{% load static %}
{% load catalog_tags %}
{% load search_tags %}
{% block main-content %}
<div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="">
                            {% search_box request %}
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                   {% category_list request.path %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">



                        {% block product_content %}
                        {% endblock %}
                        <!-- pagination starts -->
                             <nav aria-label="Page navigation example">
                                  <ul class="pagination justify-content-end">
                                    {% if products.has_previous %}
                                       <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                                       <li><a href="?page={{ products.previous_page_number }}" class="page-link">Previous</a></li>
                                    {% endif %}
                                      {% for i in nums %}
                                         <li class="page-item">
                                           <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                         </li>
                                      {% endfor %}
                                   {% if products.has_next %}
                                       <li class="page-item">
                                            <a href="?page={{ products.next_page_number }}" class="page-link">Next</a>
                                       </li>
                                       <li class="page-item">
                                            <a href="?page={{ products.paginator.num_pages }}" class="page-link">Last</a>
                                       </li>
                                   {% endif %}
                                  </ul>
                            </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End Shop Page -->

{% endblock %}
