{% extends 'catalog/catalog.html' %}
{% block product_content %}
<div class="row product-categorie-box">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
            <div class="row">
                {% for prod in products %}
                  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                      {% include 'tags/product.html' %}
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div><br>
{% endblock %}